/* 
0-600px     - phones
600-900px   - portrait
900-1200px  - tablet landscape
1200-1800px - "normal" 
1800px+     - large desktop
*/
/* 
$breakpoint options
- phone
- tab-port
- tab-land
- big-d

1em = 16px

em's are best option for media queries 


ORDER 

base 
typography 
general layout 


*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* browsers typically have a set font size of 16px, 62.5% of 16px is 10px 
    using a percentage allows the page to adpadt based on what the user has set 
*/
html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes moveInBtn {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* animation element sliding left & right */
.intro-left {
  opacity: 0;
  position: relative; }

.intro-left.slide-left {
  opacity: 0;
  transition: all 500ms linear;
  transform: translate3d(-100px, 0px, 0px); }

.intro-right {
  opacity: 0;
  position: relative; }

.intro-right.slide-right {
  opacity: 0;
  transition: all 500ms linear;
  transform: translate3d(100px, 0px, 0px); }

.intro-right.slide-right.slides-in-right {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px); }

.intro-left.slide-left.slides-in-left {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px); }

/* animation element slide up */
#service-intro {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden; }

#service-intro.slide-up {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px); }

.porfolio-slide-up {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden; }

.porfolio-slide-up.slide-up {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px); }

.form-slide-up {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden; }

.form-slide-up.slide-up {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px); }

.grid-slide-up {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden; }

.grid-slide-up.slide-up {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px); }

/* 
absolute positions itslef based on the parent element set to relative
*/
@font-face {
  font-family: 'abel';
  src: url(../../new-assets/Abel/Abel-Regular.ttf); }

body {
  font-family: abel;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #666; }

.heading-primary {
  color: #000;
  text-transform: uppercase;
  /* determines when the back of a element is hidden or not, fix for shaky animations */
  backface-visibility: hidden;
  margin-bottom: 6rem; }

.heading-primary--big {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 4rem;
  animation-name: moveInLeft;
  animation-duration: 2s; }

.heading-primary--md {
  display: block;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 3rem;
  animation: moveInRight 2s; }
  @media (max-width: 56.25em) {
    .heading-primary--md {
      font-size: 2rem;
      letter-spacing: 1.5rem; } }
  @media (max-height: 900px) {
    .heading-primary--md {
      font-size: 2rem;
      letter-spacing: 1.5rem; } }

.heading-primary--sm {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2rem;
  animation: moveInRight 2s; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #61A79E, #84727D);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2rem; } }

.heading-secondary-2 {
  font-size: 3rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #61A79E, #84727D);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 3px;
  transition: all .2s; }

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.8rem; }
  .paragraph-md {
    font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-btm-bg {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-btm-bg {
      margin-bottom: 5rem !important; } }

.u-margin-btm-md {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-btm-md {
      margin-bottom: 3rem !important; } }

.u-margin-btm-sm {
  margin-bottom: 1.5rem !important; }

.u-margin-top-sm {
  margin-top: 3rem !important; }

.u-margin-top-md {
  margin-top: 6rem !important; }

.u-margin-top-bg {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited, #gform_submit_button_1, #gform_submit_button_1:link, #gform_submit_button_1:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: all .2s;
  position: relative;
  font-size: 1.8rem;
  border: none;
  cursor: pointer; }

.btn:hover, #gform_submit_button_1:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn::after, #gform_submit_button_1::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn:hover::after, #gform_submit_button_1:hover::after {
  transform: scaleX(1.5) scaleY(1.9);
  opacity: 0; }

.btn:active, .btn:focus, #gform_submit_button_1:active, #gform_submit_button_1:focus {
  outline: none;
  transform: translate(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--animated, #gform_submit_button_1--animated {
  animation: moveInBtn ease-out 1s;
  animation-fill-mode: backwards; }

.btn--white, #gform_submit_button_1--white {
  background-color: #fff;
  color: #666; }
  .btn--white::after, #gform_submit_button_1--white::after {
    background-color: #fff; }

.btn--green, #gform_submit_button_1--green {
  background-color: #7ed56f;
  color: #fff; }
  .btn--green::after, #gform_submit_button_1--green::after {
    background-color: #7ed56f; }

.btn--blue, .btn #gform_submit_button_1, #gform_submit_button_1--blue, #gform_submit_button_1 #gform_submit_button_1 {
  background-color: #61A79E;
  color: #fff; }
  .btn--blue::after, .btn #gform_submit_button_1::after, #gform_submit_button_1--blue::after, #gform_submit_button_1 #gform_submit_button_1::after {
    background-color: #2A585E; }

.btn--pagination-right, #gform_submit_button_1--pagination-right {
  float: right; }

.btn--pagination-left, #gform_submit_button_1--pagination-left {
  z-index: 9999; }

.btn--read-more, #gform_submit_button_1--read-more {
  margin-top: 5%;
  z-index: 9999; }

.btn-txt:link, .btn-txt:visited {
  font-size: 1.8rem;
  color: #2A585E;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #2A585E;
  padding: 3px;
  transition: all .2s; }

.btn-txt:hover {
  background-color: #61A79E;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-txt:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2); }

.comp {
  position: absolute; }
  .comp__photo {
    width: 55%;
    margin: 0 auto;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    z-index: 10;
    transition: all .2s;
    text-align: center;
    outline-offset: 2rem;
    border-radius: 100%;
    display: inherit;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rbga(#000, 0.2);
  transition: transform .2s; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 1rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-3rem) scale(1.1); }

.card {
  perspective: 150rem;
  position: relative;
  height: 500px;
  height: auto;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .card__side {
    height: 500px;
    transition: all ease .8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #61A79E, #84727D); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    color: #fff;
    width: 75%; }
  .card__heading-span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1rem 1.5rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(42, 88, 94, 0.85), rgba(97, 167, 158, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto; }
    .card__details ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #f7f7f7f7; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__price--box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card__price--only {
    text-transform: uppercase;
    font-size: 1.4rem; }
  .card__price--value {
    font-size: 6rem;
    font-weight: 100; }
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none; }
    .card__side--back {
      transform: rotateY(0);
      clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
  .card:hover .card__side--front {
    transform: rotateY(0); }
  .card__details {
    padding: 1rem 3rem; }
  .card__cta {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    text-align: center;
    padding: 7rem 4rem 4rem 4rem; }
  .card__price--box {
    margin-bottom: 3rem; }
  .card__price--value {
    font-size: 6rem; }

.story {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6rem;
  padding-left: 9rem;
  border-radius: 5px;
  font-size: 1.8rem;
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 6rem; } }
  @media (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
    @media (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(75%); }

.bg-video {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video:content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__group:not(:last-child), #gform_1__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input, .form input, #gform_1__input, #gform_1 input {
  font-size: 1.5rem;
  color: inherit;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all 1s; }
  @media (max-width: 56.25em) {
    .form__input, .form input, #gform_1__input, #gform_1 input {
      width: 100%; } }
  .form__input:focus, .form input:focus, #gform_1__input:focus, #gform_1 input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #7ed56f; }
  .form__input:focus:invalid, .form input:focus:invalid, #gform_1__input:focus:invalid, #gform_1 input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder, .form input::-webkit-input-placeholder, #gform_1__input::-webkit-input-placeholder, #gform_1 input::-webkit-input-placeholder {
    color: #777; }

.form__label, .form .gfield_label, #gform_1__label, #gform_1 .gfield_label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 1rem;
  display: block;
  transition: all .2s; }

.form__input:placeholder-shown + .form__label, #gform_1__input:placeholder-shown + .form__label, .form__input:placeholder-shown + #gform_1__label, #gform_1__input:placeholder-shown + #gform_1__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4.5rem); }

.form__radio-group, #gform_1__radio-group {
  width: 49%;
  display: inline-block; }
  @media (max-width: 56.25em) {
    .form__radio-group, #gform_1__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-input, #gform_1__radio-input {
  display: none; }

.form__radio-label, #gform_1__radio-label {
  font-size: 1.8rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem; }

.form__radio-btn, #gform_1__radio-btn {
  height: 3rem;
  width: 3rem;
  border: 5px solid #7ed56f;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -4px; }
  .form__radio-btn::after, #gform_1__radio-btn::after {
    content: "";
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7ed56f;
    opacity: 0;
    transition: opacity .5s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-btn:after, #gform_1__radio-input:checked ~ .form__radio-label .form__radio-btn:after, .form__radio-input:checked ~ #gform_1__radio-label .form__radio-btn:after, #gform_1__radio-input:checked ~ #gform_1__radio-label .form__radio-btn:after, .form__radio-input:checked ~ .form__radio-label #gform_1__radio-btn:after, #gform_1__radio-input:checked ~ .form__radio-label #gform_1__radio-btn:after, .form__radio-input:checked ~ #gform_1__radio-label #gform_1__radio-btn:after, #gform_1__radio-input:checked ~ #gform_1__radio-label #gform_1__radio-btn:after {
  opacity: 1; }

.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  opacity: 0;
  visibility: hidden;
  transition: all .4s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
    width: 70%;
    border-radius: 5px;
    display: block;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .5s .2s; }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
    @media (max-width: 56.25em) {
      .popup__left {
        width: 100%;
        display: inline-block; } }
  .popup__right {
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
    @media (max-width: 56.25em) {
      .popup__right {
        padding: 2rem 3rem;
        width: 100%;
        display: inline-block; } }
  .popup__img {
    display: block;
    width: 100%; }
    @media (max-width: 56.25em) {
      .popup__img {
        display: inline-block;
        float: left;
        width: 50%; } }
  .popup__text {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid rgba(0, 0, 0, 0.4);
    -moz-hyphens: auto;
    -ms-hyphen: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    font-size: 4rem;
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    text-decoration: none;
    display: inline-block; }
  .popup__close:hover {
    color: #7ed56f; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 399;
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 2rem;
      right: 1rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#61A79E, #84727D);
  z-index: 99;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: transform 0.6s cubic-bezier(0.5, -0.3, 0.2, 1.33); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 2.5rem;
      right: 1.5rem; } }

.navigation__nav {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  width: 0;
  transition: all 0.6s cubic-bezier(0.5, 0.7, 0.2, 1); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__item > a:link, .navigation__item > a:visited {
  padding: 1rem;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .35rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 245%;
  transition: all .5s;
  display: inline-block; }

.navigation__item > a:hover, .navigation__item > a:active {
  background-position: 100%;
  color: #28b485;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(120); }

.navigation__checkbox:checked ~ .navigation__nav {
  display: inherit;
  width: 100%;
  opacity: 1; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #777;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(97, 167, 158, 0.9), rgba(132, 114, 125, 0.9));
  clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
  position: relative; }
  @media (max-width: 56.25em) {
    .header {
      height: 65vh;
      clip-path: polygon(0 0, 100% 0, 100% 57vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    @media (max-height: 900px) {
      .header__logo-box {
        top: 3rem; } }
  .header__logo {
    height: 9.5rem; }
    @media (max-width: 56.25em) {
      .header__logo {
        height: 4.5rem; } }
    @media (max-width: 37.5em) {
      .header__logo {
        position: absolute;
        left: -25px; } }
    @media (max-height: 900px) {
      .header__logo {
        height: 4.5rem; } }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media (max-width: 56.25em) {
      .header__text-box {
        top: 60%; } }

.header-secondary {
  height: 15vh;
  background-image: linear-gradient(to right bottom, #61a79e, #84727d);
  clip-path: polygon(0 0, 100% 0, 100% 10vh, 0 100%);
  position: relative; }
  .header-secondary__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.3rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #000;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__copyright {
    color: #f7f7f7f7;
    border-top: 1px solid #000;
    padding-top: 2rem;
    display: inline-block;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        float: none;
        margin-bottom: 6rem; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.4rem; }
    .footer__item a {
      background-color: #333;
      color: #f7f7f7f7;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all .2s; }
      .footer__item a:hover, .footer__item a:active {
        color: #61A79E;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8); }
  .footer__link:link, .footer__link:visited {
    background-color: #333;
    color: #f7f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #61A79E;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: .5rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 4rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2);
    padding: 1rem; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 4rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 4rem) / 3) + 4rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 4rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 4rem) / 4) + 4rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 4rem) / 4) + 2 * 4rem); }
  @media (max-width: 37.5em) {
    .row .col-1-of-2 {
      width: 100%; } }

.grid-item {
  padding: 15px;
  transition: all .5s;
  text-align: center;
  margin: 0 auto 20px auto; }

.grid-item img {
  width: 100%;
  height: 100%; }

.grid-item:hover {
  transform: scale(1.05);
  box-shadow: 2px rgba(0, 0, 0, 0.2); }

.grid-item a {
  text-decoration: none;
  color: inherit; }

.clearfix {
  clear: both; }

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
  width: 33.333%; }

@media only screen and (max-width: 700px) {
  .grid {
    margin-left: 30px; }
  .grid-sizer,
  .grid-item {
    width: 45%; } }

.grid-item {
  float: left; }

.grid-item img {
  display: block;
  max-width: 100%; }

.b-page {
  display: flex;
  flex-wrap: wrap-reverse; }

.blog-page {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .blog-page-post {
    background-color: #fff;
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;
    display: flex; }
  .blog-page-copy {
    flex: 0 0 70%; }
    @media (max-width: 37.5em) {
      .blog-page-copy {
        flex: 100%; } }
  .blog-page-img {
    margin-left: 25px; }
    @media (max-width: 37.5em) {
      .blog-page-img {
        display: none; } }

.sidebar {
  padding: 4rem;
  margin-top: 4rem;
  height: auto;
  box-shadow: 1.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 37.5em) {
    .sidebar {
      margin-top: -2rem;
      margin-bottom: 2rem;
      display: flex;
      width: 100%; }
      .sidebar ul {
        margin-left: 25px; } }

.port {
  align-items: center;
  justify-content: center; }
  .port-img {
    width: 100%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6); }

.section-about {
  background-color: #f7f7f7f7;
  padding: 25rem 0 0 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0 0 0;
      margin-top: -12vh; } }

.section-tours {
  background-color: #f7f7f7f7;
  padding: 15rem 0 15rem 0;
  margin-top: -8rem; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 5rem 0 15rem 0;
      padding: 20rem 0;
      margin-top: -2rem; } }

.section-stories {
  position: relative;
  padding: 15rem 0; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.section-booking {
  padding: 15rem;
  background-image: linear-gradient(to right bottom, #61A79E, #84727D); }
  @media (max-width: 37.5em) {
    .section-booking {
      padding: 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("https://images.pexels.com/photos/432361/pexels-photo-432361.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: right top;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 50%), url("https://images.pexels.com/photos/432361/pexels-photo-432361.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
      background-size: cover; } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%, transparent 50%), url("https://images.pexels.com/photos/432361/pexels-photo-432361.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); } }
  .book__form {
    width: 45%;
    padding: 6rem; }
    @media (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media (max-width: 56.25em) {
      .book__form {
        width: 100%; } }

.content {
  padding: 2rem; }

.parallax-banner {
  height: 40vh;
  margin-top: -5vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }

/*
 * Default WP Alignment Classes
 *****************************************************************************/
.aligncenter, .alignleft, .alignright {
  display: block;
  padding: 0; }

.aligncenter {
  float: none;
  margin: .5em auto 1em; }

.alignright {
  float: right;
  margin: .5em 0 1em 1em; }

.alignleft {
  float: left;
  margin: .5em 1em 1em 0; }
